@import '/Styling-Config.css';
@import "/CSS/MainStyleSheet.css";

div * {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* Create three unequal mains that floats next to each other */
.main {
    float: left;
    padding: 10px;
    overflow: hidden;
}

/* Left and right main */
.main.side {
    background-image: var(--mainSecondaryImage);
    background-size: var(--mainSecondaryImageSize);
    background-repeat: var(--mainThirdImageRepeat);
    background-color: var(--mainSecondaryBkGrColor);
    color: var(--mainSecondaryTextColor);
    min-height: 0vh;
    width: 20%;
}

/* Middle main */
.main.middle {

    background-image: var(--mainbodyimages);
    background-size:  var(--mainImageSize);
    background-repeat: var(--mainImageRepeat);
    background-color: var(--mainBackGroundColor);
    color: var(--mainTextColour);

    width: 60%;
    min-height: 100vh;
}

/* Clear floats after the mains */
.row:after {
    content: "";
    display: flex;
    clear: both;
}

@media screen and (max-width: 1300px) {
    .main.side, .main.middle {
        min-width: 100%;
    }
}
