@import '/Styling-Config.css';

div * {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    background-image: var(--mainSecondaryImage);
    background-size: var(--mainSecondaryImageSize);
    background-repeat: var(--mainThirdImageRepeat);
    background-color: var(--mainSecondaryBkGrColor);
    color: var(--mainSecondaryTextColor);
    min-height: 0vh;
    min-width: 20%;
}

/* Middle column */
.column.middle {

    background-image: var(--mainImageRepeat);
    background-size:  var(--mainImageSize);
    background-repeat: var(--mainImageRepeat);
    background-color: var(--mainBackGroundColor);
    color: var(--mainTextColour);

    min-width: 60%;
    min-height: 100vh;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: flex;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
    .column.side, .column.middle {
        min-width: 100%;
    }
}
