@import "../Styling-Config.css";
.table {
    box-sizing: border-box;
}
.column{
    float: left;
    width: 50%;
    padding: 10px;
    min-height: 100vh;
    border: black 1px;
}

.listColumn{
    /*float: left;*/
    width: 20vw;
    padding: 10px;
    min-height: 100vh;
    border: black 1px;
    display: flex;
    flex-wrap: wrap;
}
.table:after {
    content: "";
    display: table;
    clear: both;

}

.listCard {

}



.card{
    display: inline-block;
    border: 10px #dadada ;
    text-decoration: none !important;
    color: var(--mainTextColour) !important;
    align-self: center;
    background-size: contain;
    margin: 20px;
    overflow: hidden;;
}

.card img {
    width: 100%;
    margin: 0px;
}

/*page Switcher*/
/*.pageswitcher {
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}*/

/*
<div class="center">
  <div class="pagination">
  <a href="#">&laquo;</a>
  <a href="#">1</a>
  <a href="#" class="active">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">6</a>
  <a href="#">&raquo;</a>
  </div>
</div>
*/
@media screen and (max-width: 1300px) {
    .main.side, .main.middle {
        min-width: 100%;
    }
}