@import "../Styling-Config.css";

main * {
    box-sizing: border-box;

}

main {
}

.column {
    float: left;
}


.column.side  {
    width: 40%;
}


.column.middle {
    width: 60%;
}


.row:after {
    content: "";
    display: flex;
    clear: both;
}
/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;

}

/* Add a card effect for articles */
.SideCard {
    background-image: var(--mainSecondaryImage) !important;
    background-size: var(--mainSecondaryImageSize) !important;
    background-repeat: var(--mainThirdImageRepeat) !important;
    background-color: var(--mainSecondaryBkGrColor) !important;
    color: var(--mainSecondaryTextColor) !important;
    width: 20vw;
    position: relative;
    padding: 20px;
}
.MiddleCard {
    background-image: var(--mainImageRepeat)!important;
    background-size:  var(--mainImageSize)!important;
    background-repeat: var(--mainImageRepeat)!important;
    background-color: var(--mainBackGroundColor)!important;
    color: var(--mainTextColour)!important;
    position: relative;
    padding: 20px;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    SideCard, column.middle,.column.side {
        max-width: 100vw;
    }
}