@import "../Styling-Config.css";
.table {
    box-sizing: border-box;
}
.column{
    float: left;
    width: 50%;
    padding: 10px;
    min-height: 100vh;
    border: black 1px;
}
.table:after {
    content: "";
    display: table;
    clear: both;
}
.card{
    display: inline-block;
    float: left;
    border: 10px #dadada ;
    text-decoration: none !important;
    color: var(--mainTextColour) !important;
    align-self: center;
    background-size: contain;
    margin: 20px;
    overflow: hidden;;
}

.card img {
    width: 100%;
    margin: 0px;
}