@import '/Styling-Config.css';

html {
    font-size: 24px;
    font-family: var(--maintextfont);
    overflow-x: hidden;

}

body {
    /*top: 0;*/
    width: 100vw;
    margin: 0px;
    background-image: var(--mainThirdImage) !important;
    background-color: var(--mainThirdColor) !important;
    background-size: var(--mainThirdImageSize) !important;
    background-repeat: var(--mainThirdImageRepeat) !important;
    min-height: 100vh;
}

main {
    color: var(--mainTextColour);
    min-height: 100vh;
}


.active {
    background-color: #00779b;
}