@import '../Styling-Config.css';

html {
    font-size: 1.5em;
    font-family: var(--maintextfont);
    /*overflow-x: hidden;*/


}

body {
    /*top: 0;*/
    width: 100vw;
    margin: 0px;
    overflow-x: hidden;
    background-image: var(--mainThirdImage);
    background-color: var(--mainThirdColor);
    background-size: var(--mainThirdImageSize);
    background-repeat: var(--mainThirdImageRepeat);
    position: revert !important;
}

header {
    display: block;
    list-style: none;
    font-family: var(--navtextfont);
    text-align: right;
}


#SiteTitle a, #SiteTitle a:hover, #SiteTitle a:active {
    /*float: left;*/
    display: block;
    position: center;
    color: var(--webtitleColour);
    /*margin: 15px;*/

    text-align: center;
    text-decoration: none;
    font-family: var(--webtitlefont);
    font-weight: bold;
    font-size: var(--webtitlefontSize);
    text-transform: uppercase;
    background: none !important;
    border: none !important;

}

nav {
    position: sticky !important;
    top: 0px !important;
    background-image: var(--imageNavBar);
    background-size: var(--imageNavBarSize);
    background-repeat: var(--imageNavBarRepeat);
    background-color: var(--navBkGrdColour);
    font-family: var(--navtextfont);
    color: var(--navTextColour);
    z-index: 9999;
}

#navLinks {
    padding-left: 10%;
    text-align: left;
}

#navLinks li {
    display: inline-flex;;

}

nav ul {
    margin-bottom: 0px;
    margin-top: 0px;

}

#navLinks a:hover, a:active {
    background-image: var(--HoverBackGroundimage);
    background-size: var(--HoverImageSize);
    background-color: var(--HoverColour);
    background-repeat: var(--HoverImageRepeat);
    font-weight: var(--HoverButtonTxtWeight);

    /*Remove this to remove Border*/
    border: var(--HoverButtonBorderColor) var(--HoverButtonBorderSize);
    border-style: var(--HoverButtonBorderType);
    /*border-radius: 8px;*/

}

#navLinks a {
    float: left;
    display: block;
    color: var(--navtextColour);
    text-decoration: none;
    font-size: var(--navFontSize);
    font-weight: var(--navTextWeight);
    padding: 0.875em 1em;
    /*Remove this When removing the border*/
    border: var(--ButtonBorderColor) var(--ButtonBorderSize);
    border-style: var(--ButtonBorderType);

    background-image: var(--BackGroundimage);
    background-size: var(--ImageSize);
    background-color: var(--BackGroundColour);
    background-repeat: var(--NavBtnImageRepeat);

}

main {
    color: var(--mainTextColour);
    height: 100vh
}

footer {
    z-index: -1;
    background-image: var(--Footerbodyimage) !important;
    background-size: var(--FooterImageSize);
    background-repeat: var(--FooterImageRepeat);

    text-align: center;
    background-color: var(--FootBackaroundColor);
    color: var(--FootTextColour);
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: 0px;
    min-width: 100vw;
    font-weight: var(--FooterFontWeight);
    position: relative;
}

footer a {
    font-weight:  var(--FooterFontWeight);
    color: var(--FootTextColour);
    text-decoration: none;
    text-underline-style: none;
    background: none !important;
    border: none !important;
}

.active {
    background-color: #00779b;
}

@media screen and (max-width: 1200px) {

    nav {
        text-align: right;
        max-height: 10vh;
        z-index: 1;
    }
    #navLinks * {
        padding-left: 10%;
        text-align: left;
    }

}