@import url('https://fonts.cdnfonts.com/css/product-sans');

@font-face {
    font-family: 'Pixeltext';
    src: url('fonts/Pixeltext.woff2') format('woff2'),
    url('fonts/Pixeltext.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProductSans';
    src: url('fonts/productsans-regular-webfont.woff2') format('woff2'),
    url('fonts/productsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {

    --navtextfont: "Open Sans", sans-serif;;
}

html {
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
    overflow-y: scroll;
}

body{    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    position: absolute;
    margin: 0px;
}
nav {
    background-color: #015470;
    display: inline-block;
    font-family: var(--navtextfont);
    text-align: center;
    overflow: hidden;
    position: fixed;
    color: #f2f2f2;
    top: 0;
    width: 100%;
}
#SiteTitle a{
    margin-left: 1em;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.875em 1em;
    text-decoration: none;
    /*font-family: "Pixeltext";*/
    font-family: ProductSans;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;

}

#navLinks {
    float: right;
    display: inline-block;
    font-family: var(--navtextfont);
}


#navLinks a:hover, a:active {
    background-color: #00779b;
}

#navLinks a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.875em 1em;
    text-decoration: none;
    font-size: 1em;
}
footer {
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%
}
.footer {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}
.active{
    background-color: #00779b;
}