
:root {
    /*--navtextfont: "Pixeltext";*/
    --navtextfont: "Open Sans", sans-serif;;
}

/*apply variables like var*/
html {
    font-size: 1vw;
    font-family: "Open Sans", sans-serif;
}
body{    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0px;
} 
nav {
    background-color: #015470;
    display: inline-block;
    font-family: var(--navtextfont);
    text-align: center;
    overflow: hidden;
    position: fixed;
    color: #f2f2f2;
    top: 0;
    width: 100%;
}
#SiteTitle a{
    margin-left: 1vw;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.875vw 1vw;
    text-decoration: none;
    font-size: 1vw;
}

#navLinks {
    float: right;
    display: inline-block;
    font-family: var(--navtextfont);
}


#navLinks a:hover, a:active {
    background-color: #00779b;
}

#navLinks a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.875vw 1vw;
    text-decoration: none;
    font-size: 1vw;
}
footer {
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%
}
.footer {
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
}
.active{
    background-color: #00779b;
}
#main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
}