/*
 ▄█▀▀█ ▐█▀▀ █▀█▀█ █▀█▀█ ▐██ ██▄  █▌ ▐█▀▀▀─ ▄█▀▀█      ▐█▀▀ ▐█▀▀█▌ ▐█▀▀▄      █▀█▀█ ▐█ ▐█ ▐█▀▀      █   ▄   █ ▐█▀▀ ▐█▀▄─ ▄█▀▀█ ▐██ █▀█▀█ ▐█▀▀
 ▀▀█▄▄ ▐█▀▀   █     █  ─ █▌ ▐█ █ █  ▐█ ▀█▌ ▀▀█▄▄      ▐█▀▀ ▐█▄ █▌ ▐█ ▐█        █   ▐████ ▐█▀▀      █   █   █ ▐█▀▀ ▐█▀▀▄ ▀▀█▄▄─ █▌   █   ▐█▀▀
 █▄▄█▀ ▐█▄▄  ▄█▄   ▄█▄  ▐██ ██  ██▌ ▐██▄█▌ █▄▄█▀      ▐█── ▐██▄█▌ ▐█▀▄▄       ▄█▄  ▐█ ▐█ ▐█▄▄       ▀▄▀ ▀▄▀  ▐█▄▄ ▐█▄▄▀ █▄▄█▀ ▐██  ▄█▄  ▐█▄▄
 */


/*Custom Font Down below*/
@font-face {
    font-family: 'Pixeltext';
    src: url('css/fonts/Pixeltext.woff2') format('woff2'),
    url('css/fonts/Pixeltext.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ProductSans';
    src: url('css/fonts/productsans-regular-webfont.woff2') format('woff2'),
    url('css/fonts/productsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*Customize Colours and backgrounds */
:root {
    /*Having hard time to choose colors so Im using Variables to set them*/
    /*Website title on navbar*/
    --imageNavBar: url("/css/photos/grass_blackground_around_ 512x512.png");
    --imageNavBarSize: contain;
    --imageNavBarRepeat: repeat-x;
    --navBkGrdColour: #0086b6;

    /*Custom Title*/
    --webtitleColour: #f2f2f2;
    --webtitlefont: jokerman, sans-serif;

    /*Navbar buttons*/
    --navtextfont: Pixeltext, sans-serif !important;
    --navtextColour: #f2f2f2;
    --HoverColour: #00779b;


    /*Main cont*/
    --mainTextFont: "Open Sans", sans-Serif !important;
    --mainTextColour: white;
    --mainbodyimage: url("/css/photos/BackAround-256x256.png");
    --mainImageSize: 10vw 10vw;
    --mainBackGroundColor: #896c58;
    --mainImageRepeat: repeat;

    /*Side parts of Main*/
    --mainSecondaryBkGrColor: #896c58;
    --mainSecondaryTextColor: white;

    /*Footer*/
    --FootBackaroundColor: #015470;
    --FootTextColour: #ffffff;
}
