/*
 ▄█▀▀█ ▐█▀▀ █▀█▀█ █▀█▀█ ▐██ ██▄  █▌ ▐█▀▀▀─ ▄█▀▀█      ▐█▀▀ ▐█▀▀█▌ ▐█▀▀▄      █▀█▀█ ▐█ ▐█ ▐█▀▀      █   ▄   █ ▐█▀▀ ▐█▀▄─ ▄█▀▀█ ▐██ █▀█▀█ ▐█▀▀
 ▀▀█▄▄ ▐█▀▀   █     █  ─ █▌ ▐█ █ █  ▐█ ▀█▌ ▀▀█▄▄      ▐█▀▀ ▐█▄ █▌ ▐█ ▐█        █   ▐████ ▐█▀▀      █   █   █ ▐█▀▀ ▐█▀▀▄ ▀▀█▄▄─ █▌   █   ▐█▀▀
 █▄▄█▀ ▐█▄▄  ▄█▄   ▄█▄  ▐██ ██  ██▌ ▐██▄█▌ █▄▄█▀      ▐█── ▐██▄█▌ ▐█▀▄▄       ▄█▄  ▐█ ▐█ ▐█▄▄       ▀▄▀ ▀▄▀  ▐█▄▄ ▐█▄▄▀ █▄▄█▀ ▐██  ▄█▄  ▐█▄▄
 */


/*Custom Font Down below*/
@font-face {
    font-family: 'Pixeltext';
    src: url('css/fonts/Pixeltext.woff2') format('woff2'),
    url('css/fonts/Pixeltext.woff') format('woff');
    font-weight: normal;
    font-style: normal;


}
@font-face {
    font-family: 'ProductSans';
    src: url('css/fonts') format('woff2'),
    url('css/fonts/productsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*Customize Colours and backgrounds */
:root {
   /* Having hard time to choose colors so Im using Variables to set them*/
    /*Website title on navbar*/
    --imageNavBar: url("/photos/grass_blackground_around_ 512x512.png");
    --imageNavBarSize: contain;
    --imageNavBarRepeat: repeat-x;
    --navBkGrdColour: #ffffff;
    --navTextColour: white;

    /*Custom Title*/
    --webtitleColour: #f2f2f2;
    --webtitlefont: Pixeltext, sans-serif;

    /*Navbar buttons*/
    --navtextfont: Pixeltext, sans-serif !important;
    --navtextColour: #f2f2f2;
   /* --navTextWeight:;*/

    /*On hover on the buttons*/
    --HoverColour: rgba(137, 108, 88, 0);
    --HoverBackGroundimage: url("/photos/BackAround-256x256.png");
    --HoverImageRepeat: none;
    --HoverImageSize: contain;
    --HoverButtonTxtWeight: bold;

    /*Body cont*/
    --maintextfont: "Open Sans", sans-Serif !important;
    --mainTextColour: #ffffff;
    --mainBackGroundColor: #ffffff;
    --mainImageRepeat: repeat;
    --mainbodyimage: url("/photos/BackAround-256x256.png");
    --mainImageSize: 2vw 2vw;
    /*BackGround Image Replacement Colour*/
    --mainThirdColor: #ffffff;


    /*Side parts of Main*/
    --mainSecondaryBkGrColor: #dadada;
    --mainSecondaryTextColor: #000000;

    /*Footer*/
    --FooterImageRepeat: repeat;
    --Footerbodyimage: url("/photos/bedrock_521x521.png");
    --FooterImageSize: contain;
    --FootBackaroundColor: #00c5ff;
    --FootTextColour: #ffffff;
}
body {
    font-size-adjust: 0.58;

}