/*
 ▄█▀▀█ ▐█▀▀ █▀█▀█ █▀█▀█ ▐██ ██▄  █▌ ▐█▀▀▀─ ▄█▀▀█      ▐█▀▀ ▐█▀▀█▌ ▐█▀▀▄      █▀█▀█ ▐█ ▐█ ▐█▀▀      █   ▄   █ ▐█▀▀ ▐█▀▄─ ▄█▀▀█ ▐██ █▀█▀█ ▐█▀▀
 ▀▀█▄▄ ▐█▀▀   █     █  ─ █▌ ▐█ █ █  ▐█ ▀█▌ ▀▀█▄▄      ▐█▀▀ ▐█▄ █▌ ▐█ ▐█        █   ▐████ ▐█▀▀      █   █   █ ▐█▀▀ ▐█▀▀▄ ▀▀█▄▄─ █▌   █   ▐█▀▀
 █▄▄█▀ ▐█▄▄  ▄█▄   ▄█▄  ▐██ ██  ██▌ ▐██▄█▌ █▄▄█▀      ▐█── ▐██▄█▌ ▐█▀▄▄       ▄█▄  ▐█ ▐█ ▐█▄▄       ▀▄▀ ▀▄▀  ▐█▄▄ ▐█▄▄▀ █▄▄█▀ ▐██  ▄█▄  ▐█▄▄
 */


/*
========================================================
Custom Fonts
========================================================
*/
@font-face {
    font-family: 'Pixeltext';
    src: url('CSS/fonts/Pixeltext.woff2') format('woff2'),
    url('CSS/fonts/Pixeltext.woff') format('woff');
    font-weight: normal;
    font-style: normal;


}

@font-face {
    font-family: 'ProductSans';
    src: url('CSS/fonts') format('woff2'),
    url('CSS/fonts/productsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    /*
    ========================================================

    Header Styling

    ========================================================
    */
    /*Having hard time to choose colors so Im using Variables to set them*/
    /*Website title on navbar*/


    /*Custom Title*/
    --webtitleColour: #000000;
    --webtitlefont: Pixeltext, sans-serif;
    --webtitlefontSize: 1;
    --webtitlefontWeight: bold;
    /*
    ========================================================

    Navbar Styling

    ========================================================
    */
    /*Navbar buttons*/
    --navtextfont: Pixeltext, sans-serif !important;
    --navtextColour: #f2f2f2;
    --navTextWeight: none;
    --navFontSize: 16px;

    /*Background on button*/
    --NavBtnBackGroundimage: url("/CSS/photos/BackAround-256x256.png");
    --NavBtnImageSize: contain;
    --NavBtnColour: black;
    --NavBtnImageRepeat: repeat-x;
    /*
    ========================================================
    Navbar buttons Styling on Hover
    ========================================================
    */

    /*Buttons*/
    --imageNavBar: url("/CSS/photos/grass_blackground_around_ 512x512.png");
    --imageNavBarSize: contain;
    --imageNavBarRepeat: repeat-x;
    --navBkGrdColour: #604c43;
    --navTextColour: white;

    /*BackGround for Button*/
    --BackGroundColour: rgba(137, 108, 88, 0);
    /*--BackGroundimage: url("/css/photos/grass_blackground_around_ 512x512.png");*/
    --ImageRepeat: none;
    --ImageSize: contain;


    /*Buttons Boarder*/
    --ButtonBorderSize: 4px ;
    --ButtonBorderColor: rgba(137, 108, 88, 0);
    --ButtonBorderType: ridge;



    /*Buttons on hover*/
    --HoverColour: none;
    --HoverBackGroundimage: url("/CSS/photos/stone_521x521.png");
    --HoverImageRepeat: repeat-x;
    --HoverImageSize: contain;
    --HoverButtonTxtWeight: bolder;

    /*Button's border on Hover*/
    --HoverButtonBorderSize: 4px ;
    --HoverButtonBorderColor: #ffffff;
    --HoverButtonBorderType: ridge;

    /*border-bottom-style: groove;*/
    /*
    ========================================================

    Body Styling

    ========================================================
    */

    /*Body cont*/
    --maintextfont: "Open Sans", sans-Serif !important;
    --mainTextColour: #000000;
    --mainBackGroundColor: #ffffff;
    --mainImageRepeat: repeat;
    --mainbodyimage: url("/CSS/photos/bedrock_521x521.png") !important;
    --mainImageSize: contain;

    /*BackGround Image Replacement Colour*/
    --mainThirdColor: #000000FF;
    --mainThirdImage: url("/CSS/photos/stone_521x521.png");
    --mainThirdImageRepeat: repeat;
    --mainThirdImageSize: 2%;

    /*Side parts of Main*/
    --mainSecondaryImage: url("/CSS/photos/BackAround-256x256.png");
    --mainSecondaryImageRepeat: repeat;
    --mainSecondaryImageSize: 10%;
    --mainSecondaryBkGrColor: #ffffff;
    --mainSecondaryTextColor: #000000;
    /*
    ========================================================

    Footer Styling

    ========================================================
    */


    --FooterImageRepeat: repeat;
    --Footerbodyimage: url("/CSS/photos/bedrock_521x521.png");
    --FooterImageSize: contain;
    --FootBackaroundColor: #343434;
    --FootTextColour: #ffffff;
    --FooterFontWeight: bolder;
}

